@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 675px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 10px;
      background-color: #f1f1f1;
      height: 100%;
      width: 20%
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
                .row.content {height:auto;}
    }
    
    #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input { 
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 0px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px; 
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
      #middle {height:100%; width: 100%; position: relative;}
      #well {width: 100%;}
      .well{ padding: 0; border: none;}
      #Side-Nav{ 
          width: 0%;
          display: none;
      }
      #Side-Nav-Button {
          position: absolute;
          border-radius: 12px;
      }
      #Close-Nav-Button {
          position: absolute;
          border-radius: 12px;
      }
      #middle #Side-Nav-Button {
          top: 93%;
          left: 85%;
      }
      #middle #Close-Nav-Button {
          top: 88%;
          left: 85%;
      }
      #unorderedlist{
          color: black;
          font-family: Poppins;
          font-size: 20px;
      }
      #disp{
          display: block;
          font-family: Poppins;
          font-size: 20px;
      }
      #well{ /*Border of SIde Nav*/
          background-color: white;
          padding: 5px;
      }
      .Rating-container{
        position: relative;
        width: 100%;
        background: #D3D3D3;
        padding: 5px 5px;
        border: 1px solid #444;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .Rating-container .text{
        font-size: 25px;
        color: #666;
        font-weight: 500;
      }
      .Rating-container .edit{ /*Edit button in feedback*/
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 16px;
        color: #666;
        font-weight: 500;
        cursor: pointer;
      }
      .Rating-container .edit:hover{
        text-decoration: underline;
      }
      .star-widget {
          display: block;
          width: 100%;
      }
      .Rating-container .star-widget input{
        display: none;
      }
      .star-widget label{ /*star size*/
        font-size: 20px;
        color: #444;
        padding: 13px;
        float: right;
      }
      input:not(:checked) ~ label:hover,
      input:not(:checked) ~ label:hover ~ label{ /*allows multiple stars to be picked*/
        color: #fd4;
      }
      input:checked ~ label{
        color: #fd4;
      }
      input#rate-5:checked ~ label{ /*Shines when 5 stars are picked*/
        color: #fe7;
        text-shadow: 0 0 20px #952;
      }
      #rate-1:checked ~ form header:before{
        content: " hate it ";
      }
      #rate-2:checked ~ form header:before{
        content: " don't like it ";
      }
      #rate-3:checked ~ form header:before{
        content: " It's ok... ";
      }
      #rate-4:checked ~ form header:before{
        content: " like it! ";
      }
      #rate-5:checked ~ form header:before{
        content: " love it! ";
      }
      .Rating-container form{ /*so form does not appear at first*/
        display: none;
      }
      input:checked ~ form{ /*allows form to appear after star is picked*/
        display: block;
      }
      input:checked ~ p{
          display: none;
      }
      form header{
        width: 100%;
        font-size: 25px;
        color: #fe7;
        font-weight: 500;
        margin: 5px 0 20px 0;
        text-align: center;
        transition: all 0.2s ease;
      }
      form .textarea{
        height: 100px;
        width: 100%;
        overflow: hidden;
      }
      form .textarea textarea{
        height: 100%;
        width: 100%;
        outline: none;
        border: 1px solid #333;
        padding: 10px;
        font-size: 17px;
        resize: none;
      }
      .textarea textarea:focus{
        border-color: #444;
      }
      form .Post-btn{
        height: 45px;
        width: 100%;
        margin: 15px 0;
      }
      form .Post-btn button{
        height: 100%;
        width: 100%;
        border: 1px solid #444;
        outline: none;
        color: #999;
        font-size: 17px;
        font-weight: 500;
        transition: all 0.3s ease;
      }
      form .Post-btn button:hover{
        background: #1b1b1b;
      }
      #RateUs {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 100%;
      }

